
.main-card {
  background-color: #f6f8fb;
  padding-top: 10px;
  min-height: 100vh;
  margin-bottom: 20px;
}

.card-content {
  margin-top: 25px;
  min-height: calc(100vh - 110px);
  border-color: #fff !important;
}

.backhome-btn {
  font-size: 12px;
  font-weight: 600 !important;
  cursor: pointer;
  color: black;
  font-family: 'inter' !important;
  margin-top: 70px;
}

.backhome-btn:hover {
  color: #0572f7;
}

.iframe {
  min-height: 80vh;
}

.home-div {
  margin-top:90px;
}